

/* tag selectors*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: 'Roboto Mono', monospace;
  background-image: linear-gradient(to bottom, black, black, black, black,black,black,#222831,#393e46);
}


h1, h2,h4{
  padding-bottom: 2rem;
  text-align: center;
  line-height: 1.5;
}
h2{
  font-size: 2.7rem;
}
h3{
  display: inline-block;
  font-size: 2rem;
  margin-top: 3rem;
}
hr{
  border-top: 0.1rem solid white;
  width: 70%;
  margin: 1rem auto;
}
td {
  padding: 1em;
}

table {
  background-color: white;
}

li{
  padding: 1rem;
  font-size: 1.9rem;

}

ul.newul{
  font-size: 1.3rem;
}

/*IDs*/
#carouselExampleCaptions{
  width:80%;
  margin:0 auto 0 auto;
  border: 0.3rem solid black;
  text-align: center;
}
#skills-hr{
  width:50%;
}

#body-projects{
  background-color: black;
  color: white;
}

#h1experience{
  padding-bottom: 0;
  margin-bottom: 0;
}
/* Bootstrap edits */
.container{
  padding: 0 0;
}
.row{
  padding: 2rem;
}
.carousel-indicators li{
  height:1px;
}
.carousel-item{
  height: 50rem;
}

/* Classes */
.intro{
  height: 50rem;
  font-size: 2.5rem;
}
.fadein{
  opacity: 0;
}
.opacity{
  opacity: 0.3;
}
.nwul{
  display: inline-block;
  text-align: left;
}


.description2 {
  margin-top: 2rem;
  text-align: center;
  padding: 1rem auto;
}

.experience-div{

  width: 80%;
  margin: 0 auto;
  padding: 0 1rem;
}
.intro{
  width: 65%;
  display: inline-block;
  text-align: center;
  padding: 0;
  margin 0;
  transition: 0.5s;
  font-size: 2.5rem;
}

.row{
  font-size: 1.7rem;
  transition: 0.5s;
  transform-origin: left;
  transform: scaleX(1);

}


.row1 {
  width: 100%;
  display: flex;
}

.row2 {
  width: 100%;
  display: flex;
}

.row3 {
  width: 100%;
  display: flex;
}

.rocket {
  margin-left: -70%
}

.roledescription {
  text-align: left;
}

.satellite {
  margin-left: -40%;
}

.space {
  object-fit: cover;
  z-index: -1;
}

.skills{
  z-index: 0;
}


.skills-div{
  margin:0 auto 0 auto;
  display:inline-block;
  text-align:left;
  padding-top:2rem;
}
.skills-img{
  height: 2rem;
}
.skills-sect{
  color: white;
  text-align: center;
}
.skills1 {
  text-align: center;
  background-color: green;
}

.skills2 {
  text-align: center;
  background-color: orange;
  margin: 0;
}


.topHeading {
  font-size: 4.5rem;
  color: white;


}

.description {
  border: 1px solid;
  color: black;
  background-color:#EEEEEE;
  border-radius: 2rem;
}

.textcolor {
  color: white;
}

.head {
  position: absolute;
  top: 0;
  z-index: -1
}

.top-sect{
  top: 0;
  text-align: center;
  display: block;
  margin: 0 auto;
  z-index: 0;
}



.bottom-sect {
  transition: 0.7s;
}



.small_img {
  width: 60%;
  margin: 0 auto;
}
.bk-cl-turqoise{
  background-color: #00adb5;
}
.testGreen{
  background-color: green;
}
.testRed{
  background-color: red;
}
.testBlue{
  background-color: blue;
}
.testGrey{
  background-color: grey;
}
