/* ==== MOBILE ========== */
@media screen and (max-width: 900px){
  #im-jordan{
    font-size: 6rem;
    font-family: 'Amatic SC', cursive;
  }

  .intro p{
    font-size: 200%;
  }

}
/* ================= */
/* =======ANIMATIONS======== */
@keyframes opacity {
  from{opacity: 0;}
  to{opacity: 1}
}
@keyframes slidein {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}
/* ============================= */
/* tag selectors*/
/* html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} */

body{
  font-family: 'Roboto Mono', monospace;
  background-image: linear-gradient(to bottom, black, black, black, black,black,black,#222831,#393e46);
  text-align: center;
  color: white;
}



table {
  background-color: white;
}

li{
  padding: 1rem;
  font-size: 1.9rem;

}


/*IDs*/
#carouselExampleCaptions{
  width:80%;
  margin:0 auto 0 auto;
  border: 0.3rem solid black;
  text-align: center;
}



/* Bootstrap edits */

.row{
  padding: 2rem;
}
ol.carousel-indicators li{
  height:0.1vh;
  width: 0.1vw;
  background-color:black;
}

ol.carousel-indicators li.active{
  background-color: darkblue;
}

/* ===================================================================== */
/* ======================TOP SECTION =============== */
.head {
  position: absolute;
  top: 0;
  z-index:-1;
}
.top-sect{
  text-align: center;
  display: block;
  margin: 0 auto;
  height: auto;
  position: relative;
  top:2vh;
}
#hello-img{
  animation: opacity 5s;
}
#im-jordan{
  font-size: 6rem;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  padding-bottom: 4rem;
  animation-delay: 5s;
  animation: opacity 5s;
}

.intro{
  width: 65%;
  display: inline-block;
  text-align: left;
  padding: 0;
  margin: 0 auto;
  height:auto;
  color: white;
  animation: opacity 10s;
}
.intro p{
  font-size: 200%;
}
.wht-hr{
  border-top: 0.1rem solid white;
  width: 70%;
  margin: 1rem auto;
}
hr{
  animation: slidein 5s;
}
/* TOP END */


.carousel{
  height: auto;
  line-height: 5rem;
}
.skills{
  text-align: center;
}
.skills hr{
  border-top: 0.1rem solid white;
  width: 70%;
  margin: 1rem auto;
}
.skills-div p{
  margin-left: 0;
}
/* ------------- */
.experience-div{
  width: 90%;
  margin: 0 auto;
}
.row{
  font-size: 1.7rem;
  padding: 0 0;
  text-align: left;
}
/* ================================================== */




.description2 {
  margin:1rem auto 2rem auto;
  text-align: center;
  padding: 1rem auto;
}














.skills{
  z-index: 0;
}


.skills-div{
  margin:0 auto 0 auto;
  display:inline-block;
  text-align:center;
  font-size: 150%;
  color: white;
}

.skills-img{
  height: 2rem;
}





.description {
  border: 1px solid;
  color: black;
  background-color:#EEEEEE;
  border-radius: 2rem;
  padding: 2rem;
}












.bk-cl-turqoise{
  background-color: #00adb5;
}
.testGreen{
  background-color: green;
}
.testRed{
  background-color: red;
}
.testBlue{
  background-color: blue;
}
.testGrey{
  background-color: grey;
}
